In [35]:
import pandas as pd

df = pd.read_csv('../data_generation/fake_sales_data.csv')

print("Kiểm tra dữ liệu thiếu:")
print(df.isnull().sum())

Kiểm tra dữ liệu thiếu:
ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2           0
CITY                   0
STATE                  0
POSTALCODE             0
COUNTRY                0
TERRITORY           2444
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
PAYMENTMETHOD          0
dtype: int64

In [36]:
# Xem các dòng có giá trị NaN trong cột TERRITORY
print(df[df['TERRITORY'].isna()])

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
1           21431               79      84.27                1  6597.74
2           27610                6     114.45                5   677.77
6           13568               47      87.32                7  4073.68
16          26185               30     118.43               10  3459.15
17          20156               30      22.46                2   686.67
...           ...              ...        ...              ...      ...
9982        10983               54      61.65                1  3351.50
9984        28970               38      79.21                1  2909.11
9985        19577               78      60.82                2  4740.00
9986        19567               85      63.31                5  5370.80
9988        26686               91      54.84               10  4996.97

       ORDERDATE      STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
1     2025-03-31     Shipped       1         3     2025  ...     Apt. 045
2     2025-01-28    Resolved       1         1     2025  ...     Apt. 024
6     2025-05-06     On Hold       2         5     2025  ...    Suite 237
16    2025-06-21     Shipped       2         6     2025  ...    Suite 206
17    2025-04-01  In Process       2         4     2025  ...    Suite 764
...          ...         ...     ...       ...      ...  ...          ...
9982  2025-05-03     On Hold       2         5     2025  ...     Apt. 215
9984  2025-06-04     On Hold       2         6     2025  ...    Suite 350
9985  2025-02-08     Shipped       1         2     2025  ...    Suite 890
9986  2025-04-12     Shipped       2         4     2025  ...     Apt. 165
9988  2025-03-12     On Hold       1         3     2025  ...    Suite 374

                      CITY STATE POSTALCODE                   COUNTRY  \
1              Stevenshire    AS       9951                 Hong Kong
2             Benjaminport    MS      66607  Central African Republic
6               Conniebury    MD      92143                Luxembourg
16               Perezstad    IL      40749                   Liberia
17            Myersborough    OK      40298                   Belgium
...                    ...   ...        ...                       ...
9982  Port Christopherland    AZ      51629                     Qatar
9984      Lake Stephenbury    MT      98148                   Liberia
9985          South Shelly    HI      84707  Turks and Caicos Islands
9986        Pattersonmouth    KS      68137  Turks and Caicos Islands
9988        South Kristina    FL      29058                    Rwanda

     TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE  PAYMENTMETHOD
1          NaN        Harrison          Cameron    Large    Credit Card
2          NaN         Gilmore             Luke    Small         PayPal
6          NaN          Hansen           Robert   Medium    Credit Card
16         NaN           Burke          Barbara   Medium    Credit Card
17         NaN           Brown            Jesse    Small    Credit Card
...        ...             ...              ...      ...            ...
9982       NaN       Patterson         Nicholas   Medium         PayPal
9984       NaN          Harris           Thomas   Medium    Credit Card
9985       NaN           Brown           Claire   Medium    Credit Card
9986       NaN           Owens         Brittany    Large         PayPal
9988       NaN           Burke          Derrick   Medium    Credit Card

[2444 rows x 26 columns]

In [37]:
# Gán lại giá trị dựa trên COUNTRY
df.loc[(df['TERRITORY'].isna()) & (df['COUNTRY'].isin(['USA', 'Canada'])), 'TERRITORY'] = 'NA'
df.loc[(df['TERRITORY'].isna()) & (df['COUNTRY'].isin(['Germany', 'France'])), 'TERRITORY'] = 'EMEA'
df.loc[(df['TERRITORY'].isna()) & (df['COUNTRY'].isin(['Japan', 'China'])), 'TERRITORY'] = 'APAC'
df.loc[(df['TERRITORY'].isna()), 'TERRITORY'] = 'LATAM'  # Mặc định nếu không rõ

In [38]:
# Kiểm tra số lượng giá trị thiếu
print("Số lượng giá trị thiếu sau xử lý:")
print(df['TERRITORY'].isna().sum())

# Kiểm tra giá trị unique của TERRITORY
print("\nCác giá trị unique trong cột TERRITORY:")
print(df['TERRITORY'].unique())

Số lượng giá trị thiếu sau xử lý:
0

Các giá trị unique trong cột TERRITORY:
['APAC' 'LATAM' 'EMEA' 'NA']

In [39]:
# Xuất dữ liệu đã làm sạch ra file mới
df.to_csv('../data_generation/cleaned_sales_data.csv', index=False)
print("Dữ liệu đã làm sạch được lưu thành công.")

Dữ liệu đã làm sạch được lưu thành công.

In [40]:
import pandas as pd

df_cleaned = pd.read_csv('../data_generation/cleaned_sales_data.csv', encoding='ISO-8859-1')

# Kiểm tra các dòng bị thiếu cột hoặc giá trị trống
for col in df_cleaned.columns:
    null_count = df_cleaned[col].isnull().sum()
    if null_count > 0:
        print(f"⚠️ Cột {col} có {null_count} giá trị trống.")

⚠️ Cột TERRITORY có 9 giá trị trống.

In [41]:
import pandas as pd

df_original = pd.read_csv('../data_generation/cleaned_sales_data.csv', encoding='ISO-8859-1')

# Kiểm tra số lượng giá trị trống trong cột TERRITORY
missing_original = df_original['TERRITORY'].isnull().sum()
print(f"Số lượng giá trị trống trong file gốc (cột TERRITORY): {missing_original}")

# Hiển thị các hàng có giá trị trống trong cột TERRITORY
print("Các dòng có giá trị trống trong cột TERRITORY (file gốc):")
print(df_original[df_original['TERRITORY'].isnull()])

Số lượng giá trị trống trong file gốc (cột TERRITORY): 9
Các dòng có giá trị trống trong cột TERRITORY (file gốc):
      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
2266        24353               35      71.60                8  2389.87
2963        19646               39      58.72                9  2290.02
5331        26601               24      99.86                2  2316.86
5924        20677               26     109.33                4  2728.51
6294        28311               26     119.00                5  3143.17
6709        16871               19     130.30                1  2259.73
6896        25198               32      97.73                5  3188.44
6919        26152               60      72.96                9  4362.21
9201        23879               37      78.12                7  2918.96

       ORDERDATE      STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
2266  2025-02-13  In Process       1         2     2025  ...    Suite 522
2963  2025-05-20     Shipped       2         5     2025  ...    Suite 125
5331  2025-01-27     On Hold       1         1     2025  ...    Suite 497
5924  2025-06-28     Shipped       2         6     2025  ...    Suite 019
6294  2025-05-30     Shipped       2         5     2025  ...     Apt. 927
6709  2025-03-03     Shipped       1         3     2025  ...    Suite 428
6896  2025-05-15  In Process       2         5     2025  ...     Apt. 307
6919  2025-02-17  In Process       1         2     2025  ...     Apt. 558
9201  2025-03-02     Shipped       1         3     2025  ...    Suite 592

                        CITY STATE POSTALCODE COUNTRY TERRITORY  \
2266      Port Catherineport    WY      91746  Canada       NaN
2963               West Todd    AR      67596  Canada       NaN
5331            Martinezside    DE      22767  Canada       NaN
5924          Katherinehaven    ND      67034  Canada       NaN
6294              Stuartside    WI      27633  Canada       NaN
6709     South Kathleenburgh    OH      83101  Canada       NaN
6896         Port Stevenfurt    OH       9032  Canada       NaN
6919  South Christophermouth    LA      46019  Canada       NaN
9201             South Tracy    SD       4204  Canada       NaN

     CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE  PAYMENTMETHOD
2266           Perry         Jennifer   Medium           Cash
2963       Fernandez            Kiara   Medium  Bank Transfer
5331           Solis            Jesse   Medium           Cash
5924         Stewart          William   Medium    Credit Card
6294            Hall           Joshua   Medium  Bank Transfer
6709             Cox             Luis   Medium         PayPal
6896          Ramsey             Jane   Medium         PayPal
6919         Vazquez          William   Medium         PayPal
9201            Shah          Jessica   Medium    Credit Card

[9 rows x 26 columns]

In [42]:
import pandas as pd

# Đọc file cleaned
df_cleaned = pd.read_csv('../data_generation/cleaned_sales_data.csv', encoding='ISO-8859-1')

import random

# Điền giá trị ngẫu nhiên
df_cleaned['TERRITORY'].fillna(lambda: random.choice(['NA', 'EMEA', 'APAC', 'LATAM']), inplace=True)

missing_cleaned = df_cleaned['TERRITORY'].isnull().sum()
print(f"Số lượng giá trị trống sau sửa: {missing_cleaned}")

# Ghi đè file cleaned sau khi sửa
df_cleaned.to_csv('../data_generation/cleaned_sales_data.csv', index=False)
print("Đã sửa lỗi và ghi lại file cleaned.")

Số lượng giá trị trống sau sửa: 0
Đã sửa lỗi và ghi lại file cleaned.

In [43]:
import pandas as pd

df = pd.read_csv('../data_generation/cleaned_sales_data.csv')

# Kiểm tra số lượng ordernumber unique
unique_count = df['ORDERNUMBER'].nunique()
total_count = len(df)

print(f"Tổng số bản ghi: {total_count}")
print(f"Số mã đơn hàng duy nhất: {unique_count}")

if unique_count == total_count:
    print("Không có mã đơn hàng trùng lặp.")
else:
    print("Có mã đơn hàng trùng lặp.")

Tổng số bản ghi: 10000
Số mã đơn hàng duy nhất: 10000
Không có mã đơn hàng trùng lặp.